<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>Productos</title>
</head>
<body>
    <h1>Ver productos</h1>
    <ul>
        {% for producto in productos %}
        <li>
            <strong>{{ producto.nombre }}</strong> -
            Precio: {{ producto.precio }} -
            <img src="{{ producto.imagen }}" alt="Img" width="70">
        </li>

        {% empty %}
        <li>No hay productos que mostrar</li>
        {% endfor %}
    </ul>
</body>
</html>