<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        Paginas de ejemplo
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body  style="background-color: #c5c5c5;">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <!-- aqui va texto-->
                     <h1>Bienvenido a mi pagina web</h1>
                     <p>Estamos en el salon de CC7</p>
                </div>
                <div class="col-6">
                      <!-- aqui va imagen-->
                       <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/e966882e-aa10-42dc-8402-f6211384a5ac/anim=false,width=450/00001-871932184.jpeg" width="500" height="600" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>